<div class="influencers">
  <div class="infbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576445379409-8b357ed9ae91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80);">
    <div class="infcontainer">
      <h1>Discover the <strong>right influencer</strong></h1>
      <h1>that fits <strong>your need</strong></h1>
        <div class="influenceradvancefilter">
          <%= form_tag influencers_path, method: :get do %>
            <%= select_tag :number_of_followers,
            options_for_select(Influencer::FOLLOWERS.collect{|x| [x[:range], x[:id]]}, selected: params[:number_of_followers]),
            include_blank: "Followers"%>
            <%= select_tag :language,
            options_for_select(Influencer::LANGUAGE, selected: params[:language]),
            include_blank: "Language"%>
            <%= submit_tag "search", class: "btn btn-light btn-lg btn-block"%>
          <% end %>
        </div>
      <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    </div>
  </div>




  <div class="infsection">
      <div class="infcolumns is-4 is-offset-4">
        <% @influencers.each do |influencer| %>
          <div class="infcard">
            <div class="infheader">
              <div class="infavatar">
                 <% if influencer.photo.attached? %>
                   <%= cl_image_tag influencer.photo.key, crop: :fill %>
                  <% else %>
                   <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
                 <% end %>                
              </div>
              <div class="card-body">
                  <div class="user-meta has-text-centered">
                  <h3 class="username"><%= influencer.firstname %> <%= influencer.lastname %></h3>
                  <h5 class="position"><strong>Activity:</strong> <br> <%= influencer.activity.name %></h5>
                  <h5 class="position"><strong>Nb. of followers:</strong> <br> <%= influencer.number_of_followers %></h5>
                  </div>
                <div class="action has-text-centered">

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#influencerModal-<%= influencer.id %>">
                    Launch demo modal
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="influencerModal-<%= influencer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><%= influencer.firstname %> <%= influencer.lastname %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-5 influencer_summary">
                                <img class="infl_photo" src="https://i1.wp.com/www.starmag.com/wp-content/uploads/2021/02/deces-de-kobe-bryant-le-pilote-mis-en-cause-dans-les-conclusions-de-l-enquete.jpg?resize=980%2C675&ssl=1" width="30%"/></br>
                                <div class="pseudoshow"><%= influencer.pseudo %></div>
                                  <i class="fas fa-users"></i>  <%= influencer.number_of_followers %></br>
                                  <i class="fas fa-globe-europe"></i> <%= influencer.language %> </br>
                              </div>

                              <div class="col-6">
                                <i class="fas fa-hashtag"></i> <%= influencer.activity.name %></br>

                                <%= influencer.bio %>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal"> ❤️ </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  
</div>


<!-- Button trigger modal -->

