<div class="header"></div>
  <div class="influencers">
    <div class="infbanner" >
      <div class="infcontainer">
          <div class="influenceradvancefilter">
          <h1>Discover the <strong>right influencer</strong></h1>
          <h1>that fits <strong>your need</strong></h1>
            <%= form_tag influencers_path, method: :get do %>
              <div class="d-flex">
                <%= submit_tag "search", class: "btn btn-light btn-lg btn-block"%>
                <%= select_tag :number_of_followers,
                options_for_select(Influencer::FOLLOWERS.collect{|x| [x[:range], x[:id]]}, selected: params[:number_of_followers]),
                include_blank: "Followers"%>
                <%= select_tag :language,
                options_for_select(Influencer::LANGUAGE, selected: params[:language]),
                include_blank: "Language"%>
              </div>
            <% end %>
          </div>
      </div>
    </div>




    <div class="infsection">
      <div class="infcolumns is-4 is-offset-4">
        <% @influencers.each do |influencer| %>
          <div data-target="#influencerModal-<%= influencer.id %>" data-toggle="modal" class="text-decoration-none text-reset">
            <div class="infcard">
              <div class="infheader">
                <div class="infavatar">
                  <% if influencer.photo.attached? %>
                    <%= cl_image_tag influencer.photo.key, crop: :fill %>
                  <% else %>
                    <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
                  <% end %>
                </div>
                <div class="card-body">
                    <div class="user-meta has-text-centered">
                      <h3 class="username"><%= influencer.firstname %> <%= influencer.lastname %></h3>
                      <h5 class="position"><strong>Nb. of followers:</strong> <br> <%= influencer.number_of_followers %></h5>
                      <h5 class="position"><strong>Activity</strong> <br> <%= influencer.activity.name %></h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- modal -->

          <div class="modal fade" id="influencerModal-<%= influencer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= influencer.firstname %> <%= influencer.lastname %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="col-5 influencer_summary">
                        <% if influencer.photo.attached? %>
                          <%= cl_image_tag influencer.photo.key, class:"infl_photo_show", width:200, crop: :fill %>
                        <% else %>
                          <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
                        <% end %>


                        <div class="pseudoshow"><%= influencer.pseudo %></div>
                          <i class="fas fa-users"></i>  <%= influencer.number_of_followers %></br>
                          <i class="fas fa-globe-europe"></i> <%= influencer.language %> </br>
                      </div>

                      <div class="col-6">
                        <i class="fas fa-hashtag"></i> <%= influencer.activity.name %></br>

                        <%= influencer.bio %>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">


                  <% unless Brand.find_by(user: current_user).campaigns.empty?  %>
                    <%= simple_form_for(@match, method: :post) do |f| %>
                      <%= f.hidden_field :influencer_id, value: influencer.id%>
                      <%= f.hidden_field :campaign_id, value: Brand.where(user: current_user).first.campaigns.last.id%>
                      <%= f.submit "â¤", class: "btn btn-success" %>
                    <% end %>
                  <% else %>
                    <p>If you want to like this influencers create a campaign</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>



