<div class="container" id="grid_show">

 <div class="titleshow" ><%= @influencer.firstname %> <%= @influencer.lastname %></div>

  <%# partie de gauche de la show : noms, followers et location %>
  <div class="row">
    <div class="col-4 influencer_summary">
      <%= cl_image_tag @influencer.photo.key, class:"infl_photo_show", width:200, crop: :fill %>
      <div class="pseudoshow"><%= @influencer.pseudo %></div>
<i class="fas fa-users"></i>  <%= @influencer.number_of_followers %></br>
<i class="fas fa-globe-europe"></i> <%= @influencer.language %> </br>
      <a class="btn" href="#">❤️</a>
    </div>

    <div class="col-6">
      <i class="fas fa-hashtag"></i> <%= @influencer.activity.name %></br>

      <%= @influencer.bio %>
    </div>
  </div>

</div>


