
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%#   <a class="navbar-brand" href="/tents">
    <img src="https://www.leparisien.fr/resizer/GmbxnNPcwYwc6G9jknQJRIRn1yU=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/ENZHPWPGDGP4OJCXDY6Y433RV4.jpg"/>
  </a> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a id="title-navbar" href="/"><h1>Feeler</h1></a>

  <% unless current_user == nil %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%#<li class="nav-item active"> %>

        <li class="nav-item">
        <% if Brand.find_by(user:current_user) == nil %>
          <%= link_to "New brand", new_brand_path, class:"nav-link" %>
        <% else %>
          <%= link_to "New campaign", new_brand_campaign_path(Brand.find_by(user:current_user)),class:"nav-link" %>
        <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Matches", dashboard_path(match: "match"), class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/influencers">All influencers</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">       </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hi, Louis!</a>
        </li>

        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t31.18172-8/12771727_10153390987281088_607454401923364100_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=S2NxK010kGUAX8r6ppc&tn=f1O8_AN_8VVdM2qc&_nc_ht=scontent-cdt1-1.xx&oh=83f2e1774fa0d0ee08451062e2048fd9&oe=60DC3344"/>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="#">Settings</a>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
