<div class="header-dashboard">
  <h1><strong>My dashboard</strong></h1>
</div>

<div class="position-relative justify-content-center d-flex" id="flexzone">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% if params[:match].present? %>
      <li class="nav-item" id="dashboard" role="presentation">
        <button class="nav-link" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Campaigns</button>
      </li>
      <li class="nav-item"  role="presentation">
        <button class="nav-link active" id="profile-tab" data-toggle="tab" data-target="#match" type="button" role="tab" aria-controls="match" aria-selected="false">Matches</button>
      </li>
    <% else %>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Campaigns</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#match" type="button" role="tab" aria-controls="match" aria-selected="false">Matches</button>
      </li>
    <% end %>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#favorite" type="button" role="tab" aria-controls="favorite" aria-selected="false">Favorites</button>
    </li>
  </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <% if params[:match].present? %>
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% else %>
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% end %>
      <div class="pages-container margin-nav">
          <% if @campaigns.empty? %>
            <p>There is no campaign yet...</p>
            <%= link_to new_brand_campaign_path(Brand.find_by(user: current_user)) do %>
              <button class="btn btn-success btn-margin-top">Create a campaign</button>
            <% end %>
          <% else %>
            <% @campaigns.each do |campaign| %>
              <div class="card-campaing" id="card-campaign-dashboard">
                <div class="flexleft">
                  <% if campaign.brand.photo.attached? %>
                    <%= cl_image_tag campaign.brand.photo.key , height: 200, width: 200, crop: :fill, :class => "style_image" %>
                  <% else %>
                    <%= image_tag "https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80", height: 200, width: 200, crop: :fill, :class => "style_image" %>
                  <% end %>
                  <div class="card-campaign-infos">
                    <h6> From <%= campaign.start_date.strftime("%B %d") %> to <%= campaign.end_date.strftime("%B %d %Y") %></h6>
                    <h4><%= campaign.name %></h4>
                    <div class="hashtagcampinfo">
                      <div class="htag"><%= campaign.activity.name%></div>
                      <div class="htag" id="htag1"><%= campaign.language %></div>
                    </div>
                  </div>
                </div>
                <div class="campbuttflex">
                  <%= link_to campaigns_path(campaign),
                    method: :delete,
                    data: { confirm: "Are you sure to delete this campaign ?" } do %>
                    <button class="btn" style="color: #2940d3;">Delete</button>
                  <% end %>
                  <%= link_to campaigns_path do %>
                    <button class="btn" style="color: white; background-color:#2940d3" >More details</button>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
    <% if params[:match].present? %>
      <div class="tab-pane fade show active" id="match" role="tabpanel" aria-labelledby="match-tab">
    <% else %>
      <div class="tab-pane fade" id="match" role="tabpanel" aria-labelledby="match-tab">
    <% end %>
      <div class="matches">
        <% if @campaigns.empty? %>
          <p>You need to create a campaign</p>
        <% elsif @matches_mutual.empty? %>
          <p>There is no match with an influencer yet...</p>
        <% else %>
          <div class="infsection">
            <div class="infcolumns is-4 is-offset-4">
              <% @matches_mutual.each do |match_id| %>
                <% match = Match.find(match_id)%>
                <div class="infcard">
                  <div class="infheader">
                    <div class="infavatar">
                      <% if match.influencer.photo.attached? %>
                        <%= cl_image_tag match.influencer.photo.key, width:170, crop: :fill %>
                      <% else %>
                        <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
                      <% end %>
                    </div>
                    <div class="card-body">
                      <div class="user-meta has-text-centered">
                        <h3 class="username"><%= match.influencer.firstname %> <%= match.influencer.lastname %></h3>
                        <h5 class="position"><strong>Activity:</strong> <br> <%= match.influencer.activity.name %></h5>
                        <h5 class="position"><strong>Followers:</strong> <br> <%= match.influencer.number_of_followers %></h5>
                        <h5 class="position"><strong>Interested by:</strong> <br><%= match.campaign.name %></h5>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>





    <div class="tab-pane fade" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
      <div class="cards-grid-3 mt-3">
        <% if @campaigns.empty? %>
          <p>You need to create a campaign</p>
        <% elsif @matches_pending.empty? %>
          <p>Any influencer liked already your campaign</p>
        <% else %>
          <% @matches_pending.each do |match_id| %>
            <% match = Match.find(match_id)%>
            <div class="infcard">
              <div class="infheader">
                <div class="infavatar">
                  <% if match.influencer.photo.attached? %>
                    <%= cl_image_tag match.influencer.photo.key, width:170, crop: :fill %>
                  <% else %>
                    <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="user-meta has-text-centered">
                    <h3 class="username"><%= match.influencer.firstname %> <%= match.influencer.lastname %></h3>
                    <h5 class="position"><strong>Activity:</strong> <br> <%= match.influencer.activity.name %></h5>
                    <h5 class="position"><strong>Nb. of followers:</strong> <br> <%= match.influencer.number_of_followers %></h5>
                    <h5 class="position"><strong>Campaign Name:</strong> <br><%= match.campaign.name %></h5>
                  </div>
                  <div class="action has-text-centered">
                    <%= link_to accept_path(match: match),
                      method: :put,
                      data: { confirm: "Are you sure?" } do %>
                      <button class="btn btn-success btn-margin-top">Accept</button>
                    <% end %>
                    <%= link_to decline_path(match: match),
                      method: :put,
                      data: { confirm: "Are you sure?" } do %>
                      <button class="btn" style="border-color: red; color: red; background-color: none ">Decline</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

