<div class="back position-relative" >
    <div class="forms">
        <%= simple_form_for [@brand, @campaign] do |f| %>
        <%= f.input :name, placeholder: "nike", label:"Enter the name of your campaign" %>
        <%= f.input :brief, placeholder: "looking for a new influencer?", label:"Enter your brief"%>
        <%= f.input :country_code, label:"Select a country" %>
        <%= f.association :activity, label:"Select an activity" %>
        <%= f.input :language, placeholder: "english", label:"choose the language of the campaign" %>
        <%= f.input :start_date, as: :string, input_html: {class:"datepicker"} %>
        <%= f.input :end_date,as: :string, input_html: {class:"datepicker"} %>
        <%= f.submit "Launch a campaign",id:"btn_right", class: "btn"  %>
        <% end %>
    </div>
    <%= image_tag "Saly-24.png", id:"image_new", class:"position-absolute"%>
</div>


