<div class="back position-relative" >
    <div class="forms">
        <%= simple_form_for [@brand, @campaign] do |f| %>
        <%= f.input :name, placeholder: "nike" %>
        <%= f.input :brief, placeholder: "looking for an new influencer" %>
        <%= f.input :country_code, label:"Cote d'ivoire" %>
        <%= f.association :activity %>
        <%= f.input :language, placeholder: "anglais" %>
        <%= f.input :start_date, placeholder: "choose a date" %>
        <%= f.input :end_date, placeholder: "Choose a date" %>
        <%= f.submit "New campaign",id:"btn_right", class: "btn btn-primary"  %>
        <% end %>
    </div>
    <%= image_tag "Saly-24.png", id:"image_new", class:"position-absolute"%>   
</div>


 